@import url(shared-style.css);
@import url(home-page.css);

.active::before {
  content: "";
  display: block;
  background-color: var(--clr-neutral);
  height: 0.125rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
}

.contact h1 {
  padding: 2rem 0 2rem;
}

input {
  width: 100%;
  padding: 1rem 1.2rem;
  margin: 0.5rem 0 1.5rem;
  border-radius: 100vmax;
  border: 0;
  color: hsla(0, 0%, 100%, 1);
  background-color: var(--color-dark-300);
}

textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  margin: 0.5rem 0 1.5rem;
  border-radius: 1rem;
  border: 0;
  color: hsla(0, 0%, 100%, 1);
  background-color: var(--color-dark-300);
}

form .buttton {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.2em 1.7em;
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral);
  background-color: var(--color-light);
  width: 100%;
  display: flex;
  justify-content: center;
}

.reach-us {
  padding-block: 3rem;
}

.in_line {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.center-text {
  text-align: center;
  margin-inline: auto;
}

.question {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.question-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-block: 1rem;
}

.btn {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
  background-image: url("../Assets/extend.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.btn[aria-expanded="true"] {
  background-image: url("../Assets/collapse.png");
}

.extend {
  text-align: left;
}

@media (min-width: 49em) {
  .contact h1 {
    padding-top: 5rem;
  }

  .questions {
    width: 60%;
    margin-inline: auto;
  }

  .contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 3rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    gap: 2rem;
  }

  label:last-of-type {
    grid-column: 1 / 3;
  }

  form .buttton {
    width: 50%;
  }

  .reach-us {
    padding-block: 0;
  }

  .faq {
    padding-top: 5rem;
  }
}
