:root {
  /* Colors */
  --color-light: hsla(230, 98%, 47%, 1);
  --color-dark-300: hsla(231, 98%, 16%, 1);
  --clr-dark-400: rgba(3, 40, 238, 0.3);
  --color-dark-500: hsla(231, 96%, 8%, 1);
  --clr-neutral: hsla(0, 0%, 100%, 1);

  /* Font Family */
  --ff-body: "DM Sans", sans-serif;

  /* Font Weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  /* Font Sizes */
  --fs-50: 0.875rem;
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.25rem;
  --fs-400: 1.375rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 2.375rem;
  --fs-800: 2.625rem;
  --fs-900: 4.125rem;
  --fs-M: 7.5rem;
  --fs-MC: 11.25rem;

  --fs-primary-heading: var(--fs-700);
  --fs-body: var(--fs-200);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-100);
  --fs-secondary: var(--fs-500);
  --fs-error: var(--fs-MC);
}

@media (min-width: 49em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-body: var(--fs-100);
    --fs-nav: var(--fs-50);
    --fs-button: var(--fs-100);
    --fs-secondary: var(--fs-800);
    --fs-error: var(--fs-M);
  }
}
/********************** Css resets ****************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/****************** Css Reset *************************************/

/* scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: --color-dark-300 --color-light;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: var(--color-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-300);
  border-radius: 1rem;
  /* border: 3px solid orange; */
}

/* Utility Class */
.text-ligt {
  color: var(--color-light);
}

.text-color-dark-300 {
  color: var(--color-dark-300);
}

.text-color-neutral {
  color: var(--clr-neutral);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark-light {
  background-color: var(--color-dark-300);
}

.bg-dark-deep {
  background-color: var(--color-dark-500);
}

.bg-light {
  background-color: var(--color-light);
}

.ff-body {
  font-family: var(--ff-body);
}

.fw-sm {
  font-weight: var(--fw-400);
}

.fw-regular {
  font-weight: var(--fw-500);
}

.fw-bold {
  font-weight: var(--fw-700);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary {
  font-size: var(--fs-secondary);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-button {
  font-size: var(--fs-button);
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fs-error {
  font-size: var(--fs-error);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.padding-block {
  padding-block: 2rem;
}

.container {
  --max-width: 1246px;
  --padding: 1rem;

  width: min(var(--max-width), (100% - var(--padding) * 2));
  margin-inline: auto;
}

/* buttons */
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.2em 1.7em;
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral);
  background-color: var(--color-light);
}

.button-dark {
  background-color: var(--color-dark-300);
}

.button:hover,
.hover:focus-visible {
  background-color: var(--color-dark-300);
}

.button-dark:hover,
.button-dark:focus-visible {
  background-color: var(--color-light);
}

body {
  color: var(--clr-neutral);
  background-color: var(--color-dark-500);
  font-family: var(--ff-body);
  font-weight: var(--fs-400);
}

.desktop-logo {
  display: none;
}

@media (min-width: 49em) {
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}

.header {
  padding-top: 1.5rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  font-size: var(--fs-nav);
  font-weight: var(--fw-500);
}

.display-sm {
  display: none;
}

.nav-list a {
  position: relative;
  text-decoration: none;
  color: var(--clr-neutral);
}

.nav-list a::after {
  content: "";
  display: block;
  background-color: var(--clr-neutral);
  height: 0.125rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 250ms;
}

.nav-list a:is(:hover, :focus)::after {
  transform: scale(1, 1);
}

@media (max-width: 49em) {
  .header {
    position: relative;
    z-index: 999;
  }
  .display-lg {
    display: none;
  }

  .display-sm {
    display: block;
    margin-block: 1.2rem;
    width: 70%;
    margin-inline: auto;
  }

  .header-navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-dark-300);
    padding: 6rem 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .nav-list {
    display: grid;
    gap: 1rem;
    text-align: center;
    width: 100%;
  }

  .header-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    border: 0;
    background: var(--color-light);
    border-radius: 50%;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url("../Assets/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    border: 10px solid transparent;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../Assets/icon-close.svg");
  }
}

/* .hero {
  background-image: url("../Assets/Vector\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
} */

.footer {
  background-color: var(--color-dark-300);
  padding-block: 3rem;
  margin-top: 3rem;
}

.logo_social {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.social {
  display: flex;
  gap: 1.5rem;
  margin-inline: auto;
}

.footer_nav .nav-list {
  text-align: justify;
  font-size: var(--fs-50);
  display: flex;
  gap: 8rem;
  padding: 2rem 0;
}

.footer_nav a {
  display: inline-block;
  margin-block: 0.3rem;
}

.footer_nav a:hover {
  opacity: 0.5;
}

.footer_cta {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem 3rem;
  border-radius: 2rem;
}

.cta_button {
  display: grid;
  justify-content: center;
}

.cta_button .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
  width: 70vw;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
}

@media (min-width: 49em) {
  .logo_social {
    display: flex;
    justify-content: space-between;
  }

  .social {
    margin: 0;
  }

  .nav_cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 3rem;
  }

  .nav_cta hr {
    width: 20vw;
  }

  .cta_button {
    display: flex;
    gap: 1rem;
    justify-content: start;
  }

  .cta_button .button {
    width: 15vw;
  }

  .footer p:last-of-type {
    text-align: left;
    margin: 0;
  }
}
